---
---

//
// IMPORTS
//

@import "bootstrap/bootstrap.scss";
@import "fonts";

/**************/
/* BASE RULES */
/**************/

.navbar {
   padding: 3% 0;
}

.navbar-nav {
   margin-top: 3px;
}

.nav-link {
   text-transform: uppercase;
   font-size: 0.8em;
   vertical-align: center;
}

.jumbotron {
   background-image: url(/images/hero.png);
   background-repeat: no-repeat;
    background-position: top center;  
   background-size:cover;
   
   
   h2 {
       text-shadow: 1px 1px #444;
   }
}



.member-name {
   margin-top: 0.5em;
   font-weight: 500;
   height: 2.5em;
   font-size: 1.25em;

   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 400px) {
   .member-name {
      font-size: 0.7em;
      height: 3em;
      text-overflow: ellipsis;
      overflow: hidden;
   }
}


.member-logo {
   width: 70%;
   margin-left: 15%;
   text-align: center;
}

.img-cover {
   width: 100%;
   height: auto;
   display: block;
}

hr {
   width: 50%;
   max-width: 290px;
   height: 10px;
   border-width: 5px;
   border-color: #ededed;
   color: #ededed;
   text-align: left;
   margin-left: 0;
}

.btn {
   padding: 1em;
   font-size: 0.9em;
   font-weight: 500;
}

footer {
   padding: 3em 1em;
   background-color: $brand-primary-darkest;
   color: white;
   font-size: 0.7em;
   
   a, a:hover, a:active {
      color: $brand-tertiary;
   }
}

#alumni.alumni-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 0 15px 2rem;
}

@media (max-width: 768px) {
  #alumni.alumni-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

#alumni .alumni-item {
  text-align: center;
  max-width: none;
  flex: none;
  width: auto;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 1rem;
  transition: box-shadow 0.2s ease;
}

#alumni .alumni-item:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#alumni .member-name {
  display: inline-block;
  margin-bottom: 0.15rem;
  font-size: 1.25rem;
}

#alumni .col_brand2Text {
  font-size: 0.95rem;
  letter-spacing: 0.03em;
}

.alumni-item .member-name:hover,
.alumni-item .member-org a:hover {
  text-decoration: underline;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "svg-icons";
